


.seccion{
  @extend .col-lg-12;
  @extend .col-md-12;
  @extend .col-sm-12;
  @extend .col-xs-12;
}

.seccion-logo {
  @extend .col-lg-9;
  @extend .col-md-9;
  @extend .col-sm-9;
  @extend .col-xs-9;
}


[id^="region-"],[class^="seccion-"], .region-section {
  @extend .clearfix;
}

.region-menu {margin-bottom: 5px}
.region-devise {margin-bottom: 30px}

.region-media {
  .foto {
    @extend .col-md-4;
  }
}

.mega-container.facebook{
background: url(background-slider.png) repeat-x center bottom;
max-height:300px;
padding-top:25px;
padding-bottom:30px;
}
#main-header.sticky {
  .region-logo {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-xs-3;
  }
  nav {
    @extend .col-lg-9;
    @extend .col-md-9;
    @extend .col-sm-9;
    @extend .col-xs-9;
    margin-top: 70px;
  }
}

#main-footer {
  .copyright {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }
  .footer-item {
    @extend .col-lg-2;
    @extend .col-md-2;
    @extend .col-sm-2;
    @extend .col-xs-2;
    text-align: right;
  }
  .footer-item.social {
    @extend .col-lg-5;
    @extend .col-md-5;
    @extend .col-sm-5;
    @extend .col-xs-5;

  }
}

#region-slider {
  .region-carousel {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }

  .region-flyers {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-xs-3;
  }
}

#region-auspiciadores {
  .item-aus-wrapper {
    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }
  .item-aus {
    @extend .col-lg-2;
    @extend .col-md-2;
    @extend .col-sm-4;
    @extend .col-xs-6;
    img {
    margin-top: 20px;
    width: 100%}
  }
}


.media-region {
  .item-texto {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-12;
  }
  .item-foto {
    @extend .col-lg-2;
    @extend .col-md-2;
    @extend .col-sm-2;
    @extend .col-xs-3;
  }

  .item-tab {
    @extend .col-lg-offset-2;
    @extend .col-md-offset-2;
    @extend .col-sm-offset-2;
    @extend .col-xs-offset-2;
  }

  .item-iframe {
    @extend .col-lg-8;
    @extend .col-md-8;
    @extend .col-sm-8;
    @extend .col-xs-12;
  }

  .item-flyers {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-xs-6;
  }

  .item-flyer {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-xs-6;

    img {width: 100%}
  }
}

.flash-wrapper {

    @extend .col-lg-12;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-xs-12;
}

#ubicacion {
  .item-texto {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-12;

    ul {
      padding: 0; li {list-style: none; overflow: hidden; margin-bottom: 15px; i {float: left}}
    }
  }

  .item-mapa {
    @extend .col-lg-7;
    @extend .col-md-7;
    @extend .col-sm-7;
    @extend .col-xs-12;

    @extend .col-lg-offset-1;
    @extend .col-md-offset-1;
    @extend .col-sm-offset-1;
    
    img {width: 100%}
  }

}
.if-mega-container{width: 100%; background: url('/assets/background-general.jpg') repeat-x center bottom;}
.mega-container{max-width: 100%;}
#contacto {
  .region-contact-info {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-12;

    * {
      text-align: right;
    }
    li {@extend .clearfix; list-style: none; margin-bottom: 15px} 
  }

  .region-form {
    @extend .col-lg-8;
    @extend .col-md-8;
    @extend .col-sm-8;
    @extend .col-xs-12;
  }

  fieldset {
    @extend .col-lg-6;
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-xs-6;
  }

}
.mega-container{
margint-top: 50px;
     padding-top: 50px;
}

.section-back{
  background: url("/assets/background-section.png") repeat-x center bottom;
  min-height: 300px;
  padding-bottom: 35px;
}
.mega-container.slider-aus {
    background: url("/assets/background-slider.png") repeat-x scroll center top rgba(0, 0, 0, 0);
  }

.section-front{
min-height: 300px;
}
.ubicacion.section-front{
min-height: 500px;
}
.baila.section-back{
min-height: 400px;
}
