@media (min-width:0px) and (max-width:360px){
.sticky{
    .container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .social{
  display:none;
  }
  .seccion{
    .menu-principal{
      display:none;
    }
  }
  .region-menu{
  float:right;
  margin-left: 0px;
  .region-devise{
  width:100% !important;
  }
}
}
#region-slider{
.carousel-inner{
min-height: 200px;
}
.carousel-indicators{
background-image:none;
}
}
.slider{
margin-left: 0px;
}
}

@media(min-width: 361px) and (max-width:768px){
  h1 {
     font-size: 32px;
  }

}


@media(min-width: 361px){
.sticky{
  .social{
    display: inline-block;
  }
}
}
@media(min-width: 980px) and (max-width: 991px){
.sticky{
.container{
width: 100%;
.region-menu{
margin-left:0px !important;
}
a{
font-size: 20px;
}
}

}

}
@media (min-width: 361px) and (max-width: 568px){
.slider{
margin-left: 27px;
    width: 89%;
}
.shadow{
    margin-top: -160px;
}
#carousel-generic{
  .carousel-indicators{
  background-image:none;
  }
}
.sticky{
  .social{
  display:none;
  }
  .region-menu{
    width:75%;
    .menu-principal a{font-size:20px;}
  margin-left: 0px;
  }
}
} 
@media(min-width: 992px) and (max-width: 1199px){
.sticky .region-menu{
  margin-left: 0px;

  .menu-principal li a{
      font-size:18px;
  }
}
}
@media(min-width:768px) and (max-width: 991px){
  h1 {
     font-size: 42px;
  }

  .slider-aus{
    .container{
      margin-top: -30px;
    }
    .item.active{
    h3{
      margin-top:-10px;
      position:relative;
      z-index:50;
    }   
    .slider{
    padding-top: 45px;
    margin-bottom: 0;
    margin-left: 39px;
    margin-top: -58px;
    width:611px !important;
    }
    .shadow{
    margin-top: -220px;
    }
    }
  }
  .sticky{
    .container{ 
    width:100%;
    }
  }
  .sticky .region-menu{
  margin-left:0px;
  width: 50%;
  a{
  font-size: 17px;
  }  
}
}
@media(min-width:992px){
  h1 {
     font-size: 52px;
  }
}
@media(min-width:1200px){
  h1 {
     font-size: 72px; }
}
