header {
  .region-logo img { padding: 50px }
  .menu-principal li {
    display: block;
    float: left;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 145%;
    a {
      color: red;
      font-weight: 700;
      font-size: 26px;
      text-transform: uppercase;
      &:hover { text-decoration: none; color: white; }
    }
  }
  .region-devise {
    clear: left;
    .menu-devise {
      list-style: none outside none;
      li { display: inline-block }
    }
  }
  li a {
    &:hover { color: red; text-decoration: none; }
  }
}

body {
  background-color: #000;
}


h2.titulo {
  font-size: 26px;
  text-transform: uppercase;
}

.region-izquierda {
  h2.titulo { text-align: left  }
  p { text-align: left  }
}

.region-derecha {
  h2.titulo { text-align: right  }
  p { text-align: right  }
}

.menu-principal, .menu-devise {margin: 0; padding: 0}
#main-footer.region-section {
  margin-bottom: 0px; float: left; clear: left; width: 100%; padding-bottom: 20px;
}

#region-musica,
#region-baila {
  .item-texto {
    * {
      text-align: right;
    }
  }
}
.nav-tabs {border-bottom: 0}
.nav-tabs > li > a {
  border-radius: 0; border: 0; background: transparent
}
.nav > li > a {
  padding: 0; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {background-color: transparent; border: 0; color: white}

.nav > li > a:hover, .nav > li > a:focus {background-color: transparent}


h3.title {text-transform: uppercase; padding: 10px 0 20px; font-size: 18px}


#one {@extend .clearfix}
#main-header {@extend .clearfix /*position: fixed*/}
#main-header.sticky {position: fixed; top: 0; width: 100%; z-index: 100; background: black; height: 80px; border-bottom: 1px solid white;
  .region-logo img {padding-top: 0; padding-bottom: 0; width: 200px}
  nav {margin-top: 10px}  
  .region-devise {margin-bottom: 0}
}

#main.under-sticky {margin-top: 367px}

#region-facebook {
  @extend .region-iframe-responsive;
}

.fb-like-box {
  width: 100% !important;
  * {width: 100% !important}
}

/* ICONS */
$icons-sprite-dimensions: true;
@import 'icons/*.png'; /* */
@include all-icons-sprites;

#contacto {
  i.icon {
    display: block; margin-left: 10px; float: right;
    &.avion {@include icons-sprite(avion)}
    &.iphone {@include icons-sprite(iphone)}
    &.ubicacion {@include icons-sprite(ubicacion)}
  }
}

#ubicacion {
  i.icon {
    display: block; margin-right: 10px;
    &.mapa {@include icons-sprite(mapa)}
    &.persona {@include icons-sprite(persona)}
    &.tarjeta {@include icons-sprite(tarjeta)}
  }
}

#carousel-generic {
  .carousel-indicators {
    text-align: right; 
    margin: 0; position: absolute; bottom: 50px; right: 0; width: auto;
  }
}

.form-inline .form-group {margin-bottom: 15px}
textarea {resize: vertical; height: 160px; min-height: 160px}


.btn-default {background: $red; border: 0; text-align: center; border-radius: 0; padding: 7px 20px; color: white; text-shadow: 0 0 0 none; text-transform: uppercase;
  &:hover, &:focus {background: $red; text-decoration: none}
}

.item-flyer,
.actions {
  .btn-default {float: right}
}

.btn-default.yo-voy {position: absolute; top: 15px; right: 30px; z-index: 200}

