header {
  .region-logo img { padding: 50px }
  .menu-principal li {
    display: block;
    float: left;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 145%;
    a {
      color: $gray;
      font-weight: 700;
      font-size: 26px;
      text-transform: uppercase;
      &:hover { text-decoration: none; color: $light-gray; }
    }
  }
  .region-devise {
    clear: left;
    .menu-devise {
      list-style: none outside none;
      li { display: inline-block }
    }
  }
  li a {
    &:hover { color: $gray; text-decoration: none; }
  }
}

body {
  background-color: #f0f0f0; 
}

a:hover, a:focus {color: $gray; }


h2.titulo {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.region-izquierda {
  h2.titulo { text-align: left  }
  p { text-align: left  }
}

.region-derecha {
  h2.titulo { text-align: right  }
  p { text-align: right  }
}

.menu-principal, .menu-devise {margin: 0; padding: 0}
#main-footer.region-section {
  height: 50px; float: left; clear: left; width: 100%; padding-bottom: 20px;bottom: 0;margin-top:20px;
}

.map-shadow{margin-top: -22px;}
#region-musica,
#region-baila {
  .item-texto {
    * {
      text-align: right;
    }
  }
}

#contacto.region-section{
span{
display:inline-block;
margin-top:10px;
}
}
#main-header.sticky{background: url('/assets/background-general.jpg');}

.region-contact-info > ul {
    padding-left: 0;
  }

.nav-tabs {border-bottom: 0}
.nav-tabs > li > a {
  border-radius: 0; border: 0; background: transparent
}
.nav > li > a {
  padding: 0; 
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {background-color: transparent; border: 0; color: $light-gray;}

.nav > li > a:hover, .nav > li > a:focus {background-color: transparent}

#region-slider {margin-bottom: 50px}
h3.title {text-transform: uppercase; padding: 10px 0 20px; font-size: 18px}


#one {@extend .clearfix}
#main-header {@extend .clearfix /*position: fixed*/}
#main-header.sticky {position: fixed; top: 0; left: 0; width: 100%; z-index: 300; 
  background: url('/assets/background-general.jpg') repeat-x ; height: 80px; border-bottom: 1px solid white;
  .region-logo img {padding-top: 0; padding-bottom: 0; width: 200px}
  nav {margin-top: 10px}  
  .region-devise {margin-bottom: 0}
}

.titulo{
margin-top:30px;
}
.social{
float:right;
margin-top:40px;
}
.sticky{
  .social{
  margin-top:10px;
  }
}
.logo{
  display: inline-block;
    width: 300px;
}
.sticky{
  .logo{
      float:left;
      width: 110px !important;
  }
  .region-menu {
    margin-bottom: 26px;
      margin-left: 40px;
        padding-top: 10px;
          width: 60%;
      }
    }

#main.under-sticky {margin-top: 367px}

#region-facebook {
  @extend .region-iframe-responsive;
}

.fb-like-box {
  width: 100% !important;
  * {width: 100% !important}
}

/* ICONS */
$icons-sprite-dimensions: true;
@import 'icons/*.png'; /* */
@include all-icons-sprites;

#contacto {
  i.icon {
    display: block; margin-left: 10px; float: right;
    &.avion {@include icons-sprite(avion)}
    &.iphone {@include icons-sprite(iphone)}
    &.ubicacion {@include icons-sprite(ubicacion)}
  }
  .titulo{
    margin-top: 0px;
  }
}

.slider{
margin-left: 57px;
z-index: 20;
}
.shadow{
margin-top:-334px;
z-index: 5;
}
.region-carousel{

}
.carousel-inner{

ght: 500px;
    overflow: hidden;
      position: relative;
        width: 100%;
          z-index: 3;}

#ubicacion {
  i.icon {
    display: block; margin-right: 10px;
    &.mapa {@include icons-sprite(mapa)}
    &.persona {@include icons-sprite(persona)}
    &.tarjeta {@include icons-sprite(tarjeta)}
  }

  .item-texto{
    ul li{
      color: $light-gray;
    }
  }
}

#contacto{
  ul li{
    color: $light-gray;
  }

}

#carousel-generic {
  .carousel-indicators {
    background-image: url("/assets/background-slider-boton.png");
        background-position: center top;
            background-repeat: no-repeat;
                bottom: 0;
                    height: 120px;
                    margin-left:0px;        
                    padding-top: 30px;
                                position: relative;
                                    width: 100%;
                                        z-index: 2;
                                        left:0px;
  li{
    background-image: url('/assets/img-boton.jpg');
    border: 1px solid #757575;
  }
  .active{
    background-color: #757575;
    background-image: url('/assets/img-boton-activo.png');
  }  
}

.carousel-inner{
margin-bottom: -34px;
}
}

.baila{
margin-top: 60px;
}

.form-inline .form-group {margin-bottom: 15px}
textarea {resize: vertical; height: 160px; min-height: 160px}


.btn-default {
  background: $green; border: 0; text-align: center; border-radius: 5px; 
  padding: 7px 20px; color: white; text-shadow: 0 0 0 none; text-transform: uppercase;
  &:hover, &:focus {background: darken($green, 5%); text-decoration: none; color: white}
}

.item-flyer,
.actions {
  .btn-default {float: right}
}


.item-flyers {
  .btn-default {float: right; margin-right: 15px}
}
.btn-default.yo-voy {position: absolute; top: 15px; right: 30px; z-index: 200}


.footer-item-inner {margin-left: 20px; @include inline-block}
