header {
  .region-logo img { padding: 50px }
  .menu-principal li {
    display: block;
    float: left;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 145%;
    a {
      color: red;
      font-weight: 700;
      font-size: 26px;
      text-transform: uppercase;
      &:hover { text-decoration: none; color: white; }
    }
  }
  .region-devise {
    clear: left;
    .menu-devise {
      list-style: none outside none;
      li { display: inline-block }
    }
  }
  li a {
    &:hover { color: red; text-decoration: none; }
  }
}

body {
  background-color: #000;
}


h2.titulo {
  font-size: 26px;
  text-transform: uppercase;
}

.region-izquierda {
  h2.titulo { text-align: left  }
  p { text-align: left  }
}

.region-derecha {
  h2.titulo { text-align: right  }
  p { text-align: right  }
}

.menu-principal, .menu-devise {margin: 0; padding: 0}

#main-header.sticky {position: fixed; width: 100%; z-index: 100; background: black}

#region-facebook {
  @extend .region-iframe-responsive;
}

.fb-like-box {
  width: 100% !important;
  * {width: 100% !important}
}

/* ICONS */
$icons-sprite-dimensions: true;
@import 'icons/*.png'; /* */
@include all-icons-sprites;

#contacto {
  i.icon {
    display: block; margin-left: 10px; float: right;
    &.avion {@include icons-sprite(avion)}
    &.iphone {@include icons-sprite(iphone)}
    &.ubicacion {@include icons-sprite(ubicacion)}
  }
}

#ubicacion {
  i.icon {
    display: block; margin-right: 10px;
    &.mapa {@include icons-sprite(mapa)}
    &.persona {@include icons-sprite(persona)}
    &.tarjeta {@include icons-sprite(tarjeta)}
  }
}

.form-inline .form-group {margin-bottom: 15px}
textarea {resize: vertical; height: 160px; min-height: 160px}


.btn-default {background: $red; border: 0; text-align: center; border-radius: 0; padding: 7px 20px; color: white; text-shadow: 0 0 0 none}

.item-flyer,
.actions {
  .btn-default {float: right}
}

