.logo
  = image_tag '/assets/logo-one.png', class: 'img-responsive'
.social
  .footer-item-inner
    -#= render '/shared/twitter_follow'
    = render '/shared/like_buttom'
.seccion.region-menu.menu-principal-wrapper
  = render 'layouts/navigation_links'
  .seccion-logo.region-devise
    = render 'layouts/devise_links'
