%ul.menu-principal.nav.nav-tabs
  %li
    = link_to 'Inicio', '#one'
  %li
    = link_to '/La Discoteca', '#la-discoteca'
  %li
    = link_to '/Contacto', '#contacto'
  %li
    = link_to '/Ubicación', '#ubicacion'
