.seccion.region-logo
  = image_tag '/assets/logo-one.jpg', class: 'img-responsive'
%nav
  .seccion.region-menu.menu-principal-wrapper
    = render 'layouts/navigation_links'
  .seccion.region-devise
    = render 'layouts/devise_links'
